.main-container {
  /* border: 1px solid red; */
  margin: 20px 110px;
  padding: 20px 300px; /* top-bottom  left-right */
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.forget {
    margin: 12px 0px;
}
