<div class="main-container">
    <h2>Forgot password .</h2>
    <form class="example-form" [formGroup]="forgetForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter Email" formControlName="email" >
            <!-- <mat-error *ngIf="email.hasError('required')">Email is required.</mat-error> -->
            <!-- <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">Invalid email</mat-error> -->
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Forgot password</button>
        <div class="forget">
            Go to Login page:<a [routerLink]="['/login']">Login</a>
        </div>
    </form>
</div>
