<div class="main-container">
    <h2>Forgot password .</h2>
    <form class="example-form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter Password" formControlName="password" >
            <!-- <mat-error *ngIf="email.hasError('required')">Email is required.</mat-error> -->
            <!-- <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">Invalid email</mat-error> -->
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Confirm-Password</mat-label>
            <input matInput placeholder="Enter Confirm Password" formControlName="cpassword" >
            <!-- <mat-error *ngIf="email.hasError('required')">Email is required.</mat-error> -->
            <!-- <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">Invalid email</mat-error> -->
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Reset Password</button>
        
    </form>
</div>
